<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/styles.css">
    <title>Mi Mercado Liebre</title>
</head>
	<header>
		<div class="logo">
			<img src="/images/Logo-mercado-liebre.jpeg" alt="Logo de Mercado Liebre">
		  </div>
		  <div class="busqueda">
			<input type="text" placeholder="Buscar...">
			<button type="submit">Buscar</button>
		  </div>
		  <div class="cuotas">
			<p><i class="fa-solid fa-hand-holding-dollar"></i>  Comprar en cuotas y sin tarjeta de crédito</p>
		  </div>
		  <nav>
			<ul>
			  <li><a href="#">Ofertas</a></li>
			  <li><a href="#">Tiendas Oficiales</a></li>
			  <li><a href="#">Vender</a></li>
			  <li><a href="#">Ayuda</a></li>
			  <li><a href="#">Crea tu cuenta <span><i class="fa-solid fa-address-card"></i></span></a></li>
			  <li><a href="#">Ingresar <span><i class="fa-solid fa-right-to-bracket"></i></span></a></li>
			  <li><a href="#">Mis compras<span><i class="fa-solid fa-basket-shopping"></i></span></a></li>
			</ul>
		  </nav>
		  <nav>
			<div class="login-bar"></div>
			<div class="burger-menu">
			  <i class="fas fa-bars"></i>
			</div>
		  </nav>
		  <img src="/images/img-home-banner.jpg" alt="">
	</header>

	<main>
		

	<section class="ultima-visita">
		<h2>Basado en tu última visita</h2>
		<div class="article-container">
		<article class="article">
			<img src="/images/Cafetera.jpeg" alt="Cafetera Moulinex">
			<i class="fa-solid fa-truck"></i>
			<p>Cafetera Moulinex</p>
			<p>$6.770</p>
			<p>40% OFF</p>
			<button type="button">Comprar</button>
			</article>

		<article class="article">
			<img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
			<i class="fa-solid fa-truck"></i>
			<p>Macbook Pro 2019x</p>
			<p>$6.770</p>
			<p>20% OFF</p>
			<button type="button">Comprar</button>
		</article>

		<article class="article">
			<img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
			<i class="fa-solid fa-truck"></i>
			<p>Samsung Galaxy S10</p>
			<p>$6.770</p>
			<p>10% OFF</p>
			<button type="button">Comprar</button>
		</article>

		<article class="article">
			<img src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart">
			<i class="fa-solid fa-truck"></i>
			<p>Tv Samsung Smart</p>
			<p>$6.770</p>
			<p>5% OFF</p>
				<button type="button">Comprar</button>
		</article>
	</div>
	</section>
	<section class="ofertas">
		<h2>Ofertas</h2>
		<div class="article-container">
		<article class="article">
			<img src="/images/Cafetera.jpeg" alt="Cafetera Moulinex">
			<i class="fa-solid fa-truck"></i>
			<p>Cafetera Moulinex</p>
			<p>$6.770</p>
			<p>40% OFF</p>
			<button type="button">Comprar</button>
		</article>
		<article class="article">
			<img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
			<i class="fa-solid fa-truck"></i>
			<p>Macbook Pro 2019x</p>
			<p>$6.770</p>
			<p>20% OFF</p>
			<button type="button">Comprar</button>
		</article>
		<article class="article">
			<img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
			<i class="fa-solid fa-truck"></i>
			<p>Samsung Galaxy S10</p>
			<p>$6.770</p>
			<p>10% OFF</p>
			<button type="button">Comprar</button>
		</article>
		<article class="article">
			<img src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart">
			<i class="fa-solid fa-truck"></i>
			<p>Tv Samsung Smart</p>
			<p>$6.770</p>
			<p>5% OFF</p>
			<button type="button">Comprar</button>
		</article>
	</div>
	</section>

		
	</main>

	<footer>
		<div class="pago">
			<i class="fa-solid fa-credit-card"></i>
			<h3>Pagá con tarjeta o en efectivo</h3>
			<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
		</div>
		<div class="envio">
			<i class="fa-solid fa-gift"></i>
			<h3>Envío gratis desde $ 2.500</h3>
			<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
		</div>
		<div class="seguridad">
			<i class="fa-solid fa-user-shield"></i>
			<h3>Seguridad, de principio a fin</h3>
			<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
		</div>
		<div class="derechos">
			<p>Copyright © 
				<div class="footer-container">
					<div class="footer-section">
					  <h3>Contacto</h3>
					  <ul>
						<li><a href="#">Teléfono: (11) 1234-5678</a></li>
						<li><a href="#">Correo electrónico: info@ejemplo.com</a></li>
						<li><a href="#">Dirección: Calle Falsa 123, Ciudad Autónoma de Buenos Aires</a></li>
					  </ul>
					</div>
					<div class="footer-section">
					  <h3>Redes Sociales</h3>
					  <ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Instagram</a></li>
					  </ul>
					</div>
					<div class="footer-section">
					  