* {
  box-sizing: border-box;
}

body {
    background: #EAC926;
    align-items: center;
}

a span {
    display: inline-block;
    margin-left: 5px;
}
.cuotas {
    display: inline-block;
    margin-right: 5px;
}

header {
    background-color:#EAC926;
    color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

    .container {
      width: 10%;
      display: contents;
      align-items: center;
      text-align: center;
      justify-content: space-between;
    }

    
  

    .search-bar {
      flex: 2;
      display: flex;
      align-items: center;
      margin: 0 1rem;
    }
    nav {
      flex: 1;
      text-align: right;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 2rem;
    }

    a {
      text-decoration: none;
      color: #333;
    }
    nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav li {
      margin-right: 10px;
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .logo img {
      height: 50px;
    
    }
    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      flex:1;
      
    }
    .busqueda {
      display: flex;
      top: 20px;
      position: relative;
    }
  .busqueda input[type="text"] {
border-radius: 20px;
border: 1px solid #ccc;
padding: 5px 10px;
margin-right: 10px;
font-size: 16px;
  }
  .busqueda button[type="submit"] {
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .cuotas {
    display: flex;
    align-items: center;
    top: 10px;
    position: relative;
  }
  .cuotas i {
    margin-right: 5px;
  }

.burger-menu i {
  font-size: 24px;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
} 
.header img {
  width: 50%;
}
.header form {
  width: 50%;
}
    main {
        max-width: 65%;
        margin: 0 auto;
    }
   /* Estilos para los contenedores de los artículos */
.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 5s ease-in-out;
   
  }
  .article-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
   
  }
  
  /* Estilos para los artículos */
  .article {
    width: 100%;
    max-width: 48%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
   cursor: pointer;
    
  }
  
  .article img {
    width: 100%;
    align-items: center;
  }
  
  .article p {
    margin: 2;
    display: none;
  }
  .article:hover p {
    display: block;
  }
  .article:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

.fa-solid.fa-truck:hover {
transform: translateX(195px)  rotate(-90deg);
transition: transform 3s ease-in-out;
}

button:hover {
  background-color: #0022aa;
}

  .article button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .article button:hover {
    background-color: #0062cc;
  }

  .article p:nth-child(3) {
    display: inline-block;
    width: 70%;
    text-align: left;
    margin: 0;
  }
  .article p:nth-child(4) {
    display: inline-block;
    width: 70%;
    text-align: left;
    margin: 0;
  }
  .navbar {
    display: flex;
    width: 100%;
  }
  
  .logo a {
    color: #ebebeb;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    background-color: #EAC926;
    border: none;
    color: #03264C;
    font-size: 16px;
    padding: 5px;
  }
  
  .login-bar a {
    color: #03264C;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    justify-content: center;
  }
  

  .burger-menu i {
    margin-right: 10px;
    text-align:  center;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    color: #03264C;
    cursor: pointer;
    display: block;
  }

  .derechos {
    text-align: center;
    align-items: center;
    display: inline-block;
    padding-bottom: 10px;
  }


  .pago, .envio, .seguridad {
    text-align: center;
    display:  inline block;
    padding-top: 20px;
    font-size: 20px;

  }*/
  .footer {
    width: 33vw;
    display: inline-block;
    text-align: center;
    align-items: center;


  }
  .footer-section1 {
    display: inline-block;
    padding: 5px 0;
    font-size: 20px;
  }  

.footer-section2 {
  display: inline-block;
  padding: 5px 0;
  font-size: 20px;
}
 

  @media (min-width: 768px) {
    .article {
      max-width: calc(50% - 10px);
    }
  }

  @media (min-width: 1024px) {
    .article {
      max-width: calc(25% - 15px);
    }
  }

  @media screen and (min-width: 361px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  }
  @media screen and (min-width: 769px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  } 

  